* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #055;
  justify-content: center;
  font-family: monospace;
  align-items: center;
  font-size: 4vw;
  display: flex;
  height: 100vh;
  width: 100vw;
}
main {
  background-color: #033;
  align-items: center;
  border-radius: 1em;
  max-height: 100vh;
  translate: 0 -5vh;
  color: white;
  display: flex;
  padding: 1em;
  gap: 0.3em;
}
.numbers {
  background-color: #000;
  border-radius: 0.5em;
  padding: 1.5em 1em;
}
@media (max-aspect-ratio: 1/1) {
  body {
    font-size: 5vh;
  }
  main {
    flex-direction: column;
    gap: 0.4em;
  }
  .numbers {
    padding: 1em 1.5em;
  }
  .punctuation {
    display: none;
  }
}
